body {
    padding: 10px;
}

.Nav_sec {
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
    height: 30px;
    align-items: center;
    margin-bottom: 10px;
}

.Navigation {
    display: inline;
    justify-content: space-evenly;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}

.Login_button {
    border-bottom-right-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(0 114 94);
    background-color: white;
    text-decoration: none;
    /* border: 10px thin rgb(6, 153, 126); */
    border-color: rgb(6, 153, 126);

}

.Hero_sec {
    display: flex;
    height: 60vh;
    width: 100%;
    margin-bottom: 10px;
    gap: 10%;
    margin-top: 20px;
    justify-content: space-between;
}

.Hero_sec-txt {
    width: 40%;
    justify-content: center;
    padding: 1%;

}

.title {
    margin-bottom: 15px;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: rgb(0 114 94);
}

.paragraph_1 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.paragraph_2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.donate_now {
    background-color: rgb(0 114 94);
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    font-size: 110%;
    color: #fff;


}

.donate_now-button {}

.Hero_sec-image {

    padding: 10%;
    justify-content: center;
    align-items: center;

}

.Hero_sec-img {
    width: 35%;
}

.img2 {
    position: relative;
    right: 6%;
    top: 15%;

}

.img1 {
    position: relative;
    bottom: 125%;
    right: 15%;
}

.img3 {
    position: relative;
    right: -10%;
    bottom: 100%;
}

.Large_Img1 {
    width: 100%;
}

@media (max-width:650px) {
    .Navigation {
        display: none;
    }

    .Hero_sec-img {
        display: none;
    }

    .Hero_sec-txt {
        width: 100%;

    }

    .title {
        font-size: 1rem;
        line-height: 1rem;
    }

    .paragraph_1 {
        font-size: 1rem;
        line-height: 1rem;
    }

    .paragraph_2 {
        font-size: 1rem;
        line-height: 1rem;
    }
}